.add-content {
    padding: 50px 0;
    max-width: 600px;
    margin: 0 auto;
}
.add-content .input-container input{
    width: 100%;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
    font-size: 1.25rem;
    border: none;
}
.add-content .input-container input:hover{
    background-color: #e4afd9;
}
.add-content .input-container input::placeholder{
    color: black;
}
.results{
    padding: 0;
    margin: 0;
    margin-top: 20px ;
}